.header,
.main {
  padding: 10px 20px;
}

.header {
  background-color: #141218;
}

.main {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}